.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/Galaxy Space BG_0001-01.jpg');
    background-size: cover; /* Adjusts the background image to cover the entire container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Ensures the background image does not repeat */
    height: 200vh; /* Ensures the main container takes the full viewport height */
    width: 100%; /* Ensures the main container takes the full viewport width */
    background-color: rgba(0, 0, 0, 0.1);
    gap: 3%;
  }
  
  .description {
  
    font-size: 1rem;
    width: clamp(200px, 50%, 1000px);
    overflow-x: wrap;
    gap: 5%;
    z-index: 2;
    font-family: var(--font-mono);
    align-self: flex-start;
    margin-top: 10%;
  }
  .description > *
  {
    margin-right: auto ;
  }
  .description > p{
    letter-spacing: 1%;
    font-weight: 400;
    margin-top: 5%;
  }
  
  .image
  {
    width: 30%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(96, 140, 182);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 3em;
  
  }
  
  .call_to_action
  {
    background: none ;
    width: 40%;
    height: 30%;
    border: 2px #4287f5 solid;
    border-radius: 5px;
    margin-top: 5%;
    padding: 5%;
    font-size: 1.3em;
  }
  .call_to_action > *
  {
    width: 100%;
    height: 100%;
  }